body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: rgba(220, 249, 233, 1);
    line-height: 1.7em;
    color: black;
}

p {
    line-height: 1.7em;
    color: black;
}

table {
    border-collapse: collapse;
  }
  td, th {
    border: 1px solid black;
  }

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-width: thin;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    border:5px solid;
    border-width: 2px;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: black;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 10px;
    background:  rgb(67, 225, 172);
}

#sidebar ul.components {
    padding: 5px 15px;
    border-bottom: 1px solid  rgb(200, 249, 233);
}

#sidebar ul p {
    color: black;
    padding: 5px;
}

#sidebar ul li a {
    padding: 1px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color:  blue;
    background-color: rgb(224, 243, 179);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: black;
    background-color: rgb(224, 243, 179);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background-color: rgb(224, 243, 179);
    color: black;
}


a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    border-width: medium;
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}
/* unvisited link */
#content a:link {
    color: blue;
  }
  
/* visited link */
#content a:visited {
color: brown;
}

/* mouse over link */
#content a:hover {
color: blue;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}